.page[data-size="A4"] {
  background: white;
  width: 21cm;
  height: 26cm;
  display: block;
  margin: 0 auto;
}
@media print {
  body,
  .page[data-size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
}
.Template {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .Template-Container {
    width: 100%;
    height: 100%;
    padding: 40px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 8px;
    table {
      width: 100%;
      border-collapse: collapse;
      td,
      th {
        border: 1px solid black;
        padding: 4px;
      }
    }
    .Template-Top {
      display: flex;
      align-items: center;
      .Template-TopLeft,
      .Template-TopRight {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .Template-TopLeft {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-weight: 600;
      }
    }
    .Template-Customer__Information {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
    .Template-Note {
      table {
        width: 100%;
        tr {
          th,
          td {
            &:first-child {
              width: 30%;
            }
            &:nth-child(2) {
              width: 30%;
            }
          }
        }
      }
      .Template-Note__Bottom {
        td {
          height: 90px;
        }
      }
    }
    .Gender-Common {
      display: flex;
      flex-direction: column;
      gap: 8px;
      table {
        border: 0.5px solid black;
        tr {
          display: flex;

          td,
          th {
            border: 0.5px solid black;
            flex: 1;
          }
        }
      }
    }
  }
}
