.Customer-Description__CheckBox {
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  gap: 8px;
  .ant-checkbox-wrapper {
    align-self: flex-start;
  }
  &.--Active {
    border: 2px solid #1677ff;
  }
  &.--Selectable {
    cursor: pointer;
    &:hover {
      background: #ececec;
    }
  }
  .Customer-Description__LabelItem {
    width: 20%;
    border-right: 3px solid #ccc;
    &.--Tailor {
      width: 20%;
    }
  }
}
